<div class="calendar-container">
  <div class="calendar">
    <div class="month">

      <div class="date">
        <h2>{{ fullDate }}</h2>
        <p>{{ month }} {{ year }}</p>
      </div>
      <div class="arrows">
        <p class="prev arrow">
          <img [src]="arrowUrlPath" alt="up" class="up" (click)="monthUp()">
        </p>
        <p class="next arrow">
          <img [src]="arrowUrlPath" alt="down" class="down" (click)="monthDown()">
        </p>
      </div>
    </div>
    <div class="weekdays">
      <div *ngFor="let weekday of weekdays">
        {{ weekday }}
      </div>
    </div>
    <div class="days">

      <div *ngFor="let day of prevDays" class="prev-date">
        <p>{{ day }}</p>
      </div>

      <div *ngFor="let item of [].constructor(lastDay); let i = index">
        <p>{{i+1}}</p>
      </div>

      <div *ngFor="let day of nextDayArray" class="next-date">
        <p>{{ day }}</p>
      </div>

    </div>
  </div>
</div>
